.form {
		width: 500px;
    	margin-left: 250px;
        margin-top: 30px;
        background-color: none;
        border: 2px solid;
        color: black;

position: absolute;
	}

   
    .form input{
        background-color: rgba(0,0,0,.2);color: #fff;
    }
    .bg{
        background-image: url("/PROJECT/assets/img/formbg.jpg");background-size: cover; /*margin-left: 200px;*/
        height: 750px;
        position: relative;
    }
    .form {
    	margin-bottom: 15px;
        background: rgba(130,130,130,.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .form h2 {
        margin: 0 0 15px;
        text-shadow: 2px 2px 0 #ccc, 2px 2px 0 #ccc;

    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        width: 100px;
        margin-left: 180px;
    }