 body{
  background-image: url("/PROJECT/assets/img/webbg2.jpg");
 }
 
.navbar-brand{
	
	padding: 10px;
	margin-top: 0px;
	margin-left: 30px;
  margin-bottom: 0px;
  height: 125px;
  text-align: center;

}

.navbar-nav{
	float: left;
	padding: 10px;
	margin-right: 15px;
	font-size: 20px;
	font-family:Georgia;
  margin-bottom: 0px; margin-top: 25px;
}

.responsive {
  width: 100%;
  height: auto;
}
.main-nav{
	display: block;
list-style: none; margin: 0 0 15px 0;}

/* tags styling*/

h1 { font-size: 38px; text-shadow: 2px 2px 0 #ccc, 2px 2px 0 #ccc; font-weight: 100; text-transform: uppercase; 
  text-align: center;}

/* The side navigation menu */
.sidebar {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  width: 200px;
  /*background-color: #f1f1f1;*/
  /*background-image: url("/PROJECT/assets/img/sidebar.jpg");background-size: cover;*/
  position: absolute;
  height: auto;
  overflow: auto;font-family: Georgia;font-size: 20px;
}
/*#sidebar{
   background-image: url("/PROJECT/assets/img/sidebar.jpg");background-size: cover;
}*/
/* Sidebar links */
.sidebar a {
  display: block;
  color: #555;
  padding: 16px;
  text-decoration: none;
 /* background-color: #000001;*/
}

/* Active/current link */
.sidebar a.active {
  
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.banner{
  background-image: url("/PROJECT/assets/img/banner.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 500px;

  }
  .bannerdata
  {  text-align: center;
    height: 500px;
    padding: 10px; 
    -webkit-font-smoothing: antialiased;
  }
   .btn-primary{
    
    color: black;
     border-radius: 50px;
    padding: 10px 30px;
    background: none;
    font-size: 14px;
    width: 150px;

  }
  {

  }
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  text-align: justify;
  font-size: 16px;
  min-height: 580px;
}
.aim{
width: 1000px;
height: 300px;

display:inline-flex;
}
.aimleft{
width: 500px;
height: 300px;
float: left;
display: block;
}
.aimright{
width: 500px;
height: 300px;
float: right;
font-family: Cambria;
list-style: none;
display: block;
}
.aimright ol{list-style: none;}
  
  .obj{
width: 1000px;
height: 300px;

display:inline-flex;
}
.objleft{
width: 500px;
height: 300px;
float: left;
font-family: Cambria;
list-style: none;
display: block;
text-align: left;
}
.objleft ol{list-style: none;}
.objright{
width: 500px;
height: 300px;
float: right;
display: block;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .sidebar a hover {color: white;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*footer { width: 800px; margin: 0 auto 20px; color: #999; text-transform: uppercase; letter-spacing: 3px; display: block;}*/
 .footer{
  background-image: url("/PROJECT/assets/img/footer.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
height: 200px;
text-align: center;

 }
